@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #b08968;
  --title-color: #1a1a1a;
  --text-color: #555555;
  --body-color: #ffffff;
  --button: #b0b0b0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}

body {
  margin: 3.5rem 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.nav_btns {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.change-theme {
  max-width: 28px;
  color: var(--title-color);
  cursor: pointer;
}

body.dark-theme {
  --title-color: #f2f2f2;
  --text-color: #c2bdbd;
  --body-color: #171515;
  --button: rgba(255, 255, 255, 0.1);
}

.dark-theme .nav_link {
  color: #b2b2b2;
}

.dark-theme .nav_link:hover {
  color: #f7f7f7;
}

.dark-theme .active-link {
  color: #f7f7f7;
}

.container {
  background-color: var(--body-color);
  max-width: 1200px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  transition: 0.4s;
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: 0.4s;
}

.nav {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo,
.nav_close,
.nav_toggle {
  color: var(--title-color);
}

.nav_logo {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  font-weight: 600;
  font-size: 1.375rem;
}

.nav_logo-img {
  width: 1.3rem;
}

.nav_toggle {
  display: inline-flex;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav_menu {
    position: fixed;
    background-color: var(--body-color);
    top: -100%;
    left: 0;
    width: 100%;
    padding: 4rem 0;
    border-radius: 0 0 1.5rem 1.5rem;
    box-shadow: 0 1px 4px hsla(0, 4%, 15%, 0.1);
    transition: 0.6s;
  }
}

.nav_img {
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-15deg);
}

.nav_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}

.nav_link {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s;
}

.nav_link:hover {
  color: #1a1a1a;
}

.nav_close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}

.show-menu {
  top: 0;
}

.active-link {
  color: #171515;
}

.home_container {
  padding-top: 1.5rem;
  row-gap: 1.5rem;
}

.home_img {
  justify-self: center;
}

.home_vector {
  position: absolute;
  opacity: 0.3;
}

.home_data {
  left: 130px;
  top: 252px;
  background: rgba(196, 196, 196, 0.07);
  border: 1px solid rgba(196, 196, 196, 0.76);
  box-sizing: border-box;
  backdrop-filter: blur(56px);
  border-radius: 12px;
}

.home_title {
  font-weight: 600;
  font-size: 3.125rem;
  color: var(--primary-color);
  padding-left: 50px;
}

.home_description {
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--text-color);
  padding-top: 15px;
  padding-left: 50px;
}

.home_text {
  font-weight: 600;
  font-size: 1rem;
  color: var(--text-color);
  padding-top: 25px;
  padding-left: 50px;
}

.home_icons {
  display: flex;
  gap: 10px;
  padding-top: 25px;
  padding-left: 50px;
  padding-bottom: 25px;
}

.about_emp {
  justify-content: center;
  display: flex;
  opacity: 0.5;
  gap: 50px;
}

.about_emp-logo {
  width: 130px;
}

.about_data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 85px;
}

.about_img {
  justify-self: right;
}

.about_text {
  padding-left: 25px;
}

.about_title {
  font-weight: 600;
  font-size: 3.125rem;
  color: var(--title-color);
}

.about_pont {
  color: var(--primary-color);
}

.about_description {
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--text-color);
  padding-top: 25px;
  padding-bottom: 35px;
}

.about_button {
  display: inline-block;
  background: var(--button);
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.125rem;
  text-align: center;
  color: var(--title-color);
  padding: 16px 30px;
}

.about_icons {
  display: flex;
  gap: 10px;
  padding-top: 25px;
}

.projects {
  padding-top: 85px;
}

.project_title {
  font-weight: 600;
  font-size: 3.125rem;
  color: var(--title-color);
  justify-self: center;
}

.project_pont {
  color: var(--primary-color);
}

.project_data {
  background: rgba(196, 196, 196, 0.07);
  border: 1px solid rgba(196, 196, 196, 0.76);
  box-sizing: border-box;
  backdrop-filter: blur(56px);
  border-radius: 24px;
  justify-self: center;
}

.project_container {
  padding-top: 42px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 23px;
}

.project_img_text {
  text-align: left;
  display: flex;
  padding-bottom: 24px;
  justify-content: center;
}

.project_img {
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.project_icon {
  place-self: center;
  max-inline-size: 50px;
}

.project_text {
  font-weight: 700;
  font-size: 1.125rem;
  padding-left: 15px;
  color: var(--title-color);
}

.project_description {
  font-size: 0.875rem;
  font-weight: 500;
  padding-left: 15px;
  line-height: 24px;
  color: var(--text-color);
}

.project_white {
  color: var(--title-color);
}

.project_box {
  text-align: center;
}

.services_title {
  padding-top: 100px;
  font-weight: 600;
  font-size: 3.125rem;
  color: var(--title-color);
  justify-self: center;
}

.services_pont {
  color: var(--primary-color);
}

.services_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  padding-top: 50px;
  padding-bottom: 85px;
  justify-items: center;
}

.services_services {
  background: rgba(196, 196, 196, 0.07);
  border: 1px solid rgba(196, 196, 196, 0.76);
  box-sizing: border-box;
  backdrop-filter: blur(56px);
  border-radius: 12px;
  padding: 65px 25px 55px 25px;
}

.services_div {
  text-align: center;
  justify-self: center;
}

.services_text {
  padding-top: 20px;
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 1.875rem;
  color: var(--title-color);
}

.services_description {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 30px;
  text-align: center;
  color: var(--text-color);
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #171515;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_text {
  padding-left: 100px;
  font-weight: 500;
  font-size: 1rem;
  color: #c4c4c4;
}

.footer_logo {
  color: #f7f7f7;
  font-weight: 600;
  font-size: 1.375rem;
  padding-right: 100px;
}

.footer_logo-img {
  vertical-align: middle;
  width: 22px;
}

.scrollup {
  position: fixed;
  margin-bottom: -30px;
  right: 40px;
  background-color: var(--primary-color);
  box-shadow: 0 4px 12px hsla(0, 0%, 20%, 0.1);
  display: inline-flex;
  padding: 0.35rem;
  border-radius: 0.25rem;
  z-index: 10;
  transition: 0.4s;
}

.scrollup:hover {
  opacity: 1;
}

.scrollup_icon {
  font-size: 1.25rem;
  color: var(--primary-color);
}

.show-scroll {
  bottom: 3rem;
}

::-webkit-scrollbar {
  width: 5px;
  background: var(--body-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #555555;
  border-radius: 5px;
}

@media screen and (max-width: 320px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .home {
    padding-top: 50px;
  }
  .home_description,
  .home_text,
  .home_title,
  .home_icons {
    padding-left: 30px;
    padding-right: 30px;
  }
  .home_text {
    font-size: 0.75rem;
  }
  .home_title {
    font-size: 2rem;
  }
  .home_description {
    font-size: 1rem;
  }
  .home_img {
    width: 150px;
  }
  .home_links {
    max-width: 22px;
  }
  .home_img,
  .about_img {
    display: none;
  }
  .about_emp-logo {
    max-width: 100px;
    place-self: center;
  }
  .about_data {
    grid-template-columns: 1fr;
  }
  .about_emp {
    display: grid;
    padding-top: 50px;
    grid-template-columns: repeat(2, 1fr);
  }
  .about_title {
    font-size: 2rem;
  }
  .about_description {
    font-size: 1rem;
  }
  .about_text {
    padding-left: 15px;
  }
  .about_button {
    padding: 15px 15px;
    font-size: 0.9375rem;
  }
  .about_links {
    max-width: 22px;
  }
  .project_container {
    grid-template-columns: 1fr;
  }
  .project_title {
    font-size: 2rem;
  }
  .project_text {
    font-size: 1rem;
  }
  .project_description {
    font-size: 0.875rem;
  }
  .project_data {
    max-width: 300px;
  }
  .project_img_text {
    padding-right: 15px;
    padding-bottom: 20px;
  }
  .project_img {
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .services_title {
    font-size: 2rem;
  }
  .services_services {
    max-width: 300px;
  }
  .services_container {
    grid-template-columns: 1fr;
  }
  .services_text {
    font-size: 1.375rem;
  }
  .services_description {
    font-size: 0.875rem;
    max-width: 300px;
  }
  .services_container {
    gap: 25px;
  }
  .services_services {
    padding: 45px 15px 45px 15px;
  }
  .footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .footer_text {
    padding-left: 25px;
    font-size: 0.675rem;
  }
  .footer_logo {
    padding: 0px;
    font-size: 1rem;
  }
  .footer_text {
    padding-top: 10px;
  }
  .footer_logo-img {
    width: 15px;
  }
  .footer_logo_box {
    padding-right: 25px;
  }
  .scrollup {
    margin-bottom: 20px;
    right: 15px;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .nav {
    height: calc(3.5rem + 1.5rem);
    column-gap: 3rem;
  }
  .nav_toggle,
  .nav_close,
  .nav_img {
    display: none;
  }
  .nav_menu {
    margin-left: auto;
  }
  .nav_list {
    flex-direction: row;
    column-gap: 3rem;
  }
  .dark-theme .nav_menu {
    box-shadow: none;
  }
  .home_container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .home_container {
    padding-top: 8rem;
  }
}

@media screen and (max-width: 768px) {
  .nav_logo {
    font-size: 1rem;
  }
  .nav_logo-img {
    width: 16px;
  }
  .change-theme {
    max-width: 20px;
  }
  .nav_link {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .home_container {
    column-gap: 1rem;
  }
  .home_img {
    width: 190px;
  }
  .home_description {
    padding-right: 8rem;
  }
  .about_emp {
    padding-top: 60px;
  }
  .about_img {
    width: 370px;
  }
  .about_text {
    padding-top: 60px;
  }
  .project_data {
    max-width: 350px;
  }
  .services_services {
    max-width: 350px;
  }
}
