:root {
  --primary-color: #b08968;
  --title-color: #1a1a1a;
  --text-color: #555555;
  --body-color: #ffffff;
  --button: #b0b0b0;
  --button-hover: #919191;
  --link-hover: #1a1a1a;
  --link-active: #171515;
  --scrollup-hover: #947154;
  --scrollbar: #555555;
  --white: #f7f7f7;
  --gray: #c4c4c4;
  --black: #171515;
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
}

/* CSS Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}

body {
  margin: 3.5rem 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-weight-semibold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body.dark-theme {
  --title-color: #f2f2f2;
  --text-color: #c2bdbd;
  --body-color: #171515;
  --button: rgba(255, 255, 255, 0.1);
}

.dark-theme .nav_link {
  color: #b2b2b2;
}

.dark-theme .nav_link:hover {
  color: var(--white);
}

.dark-theme .active-link {
  color: var(--white);
}

/* General Styles */
.nav_btns {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.change-theme {
  max-width: 26px;
  color: var(--title-color);
  cursor: pointer;
}

.container {
  background-color: var(--body-color);
  max-width: 1200px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

/* Header */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo,
.nav_close,
.nav_toggle {
  color: var(--title-color);
}

.nav_logo {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  font-weight: var(--font-weight-semibold);
  font-size: 1.375rem;
}

.nav_toggle {
  display: inline-flex;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav_menu {
    position: fixed;
    background-color: var(--body-color);
    top: -100%;
    left: 0;
    width: 100%;
    padding: 4rem 0;
    border-radius: 0 0 1.5rem 1.5rem;
    transition: 0.6s;
  }
}

.nav_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}

.nav_link {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: var(--font-weight-semibold);
  transition: 0.3s;
}

.nav_link:hover {
  color: var(--link-hover);
}

.nav_close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
  color: var(--button);
}

.show-menu {
  top: 0;
}

.active-link {
  color: var(--black);
}

/* Home */
.home_container {
  padding-top: 1.5rem;
  row-gap: 1.5rem;
}

.home_img {
  justify-self: center;
}

.home_vector {
  position: absolute;
  opacity: 0.3;
}

.home_data {
  left: 130px;
  top: 252px;
  background: rgba(196, 196, 196, 0.07);
  border: 1px solid rgba(196, 196, 196, 0.76);
  box-sizing: border-box;
  backdrop-filter: blur(56px);
  border-radius: 12px;
}

.home_title {
  font-weight: var(--font-weight-semibold);
  font-size: 3.125rem;
  color: var(--primary-color);
  padding-left: 3.125rem;
}

.home_description {
  font-weight: var(--font-weight-medium);
  font-size: 1.125rem;
  color: var(--text-color);
  padding-top: 0.9375rem;
  padding-left: 3.125rem;
}

.home_text {
  font-weight: var(--font-weight-semibold);
  font-size: 1rem;
  color: var(--text-color);
  padding-top: 1.5625rem;
  padding-left: 3.125rem;
}

.home_icons {
  display: flex;
  gap: 10px;
  padding-top: 1.5625rem;
  padding-left: 3.125rem;
  padding-bottom: 1.5625rem;
}

/* About */
.about_emp {
  justify-content: center;
  display: flex;
  opacity: 0.5;
  gap: 50px;
}

.about_emp-logo {
  width: 130px;
}

.about_data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 5.3125rem;
}

.about_img {
  justify-self: center;
}

.about_text {
  padding-left: 1.5625rem;
}

.about_title {
  font-weight: var(--font-weight-semibold);
  font-size: 3.125rem;
  color: var(--title-color);
}

.about_pont {
  color: var(--primary-color);
}

.about_description {
  font-weight: var(--font-weight-medium);
  font-size: 1.125rem;
  color: var(--text-color);
  padding-top: 1.5625rem;
  padding-bottom: 2.1875rem;
}

.about_button {
  display: inline-block;
  background: var(--button);
  border-radius: 8px;
  font-weight: var(--font-weight-semibold);
  font-size: 1.125rem;
  text-align: center;
  color: var(--title-color);
  padding: 1rem 1.875rem;
}

.about_button:hover {
  background-color: var(--button-hover);
}

.about_icons {
  display: flex;
  gap: 10px;
  padding-top: 1.5625rem;
}

/* Projects */
.projects {
  padding-top: 5.3125rem;
}

.project_title {
  font-weight: var(--font-weight-semibold);
  font-size: 3.125rem;
  color: var(--title-color);
  justify-self: center;
}

.project_pont {
  color: var(--primary-color);
}

.project_data {
  background: rgba(196, 196, 196, 0.07);
  border: 1px solid rgba(196, 196, 196, 0.76);
  box-sizing: border-box;
  backdrop-filter: blur(56px);
  border-radius: 24px;
  justify-self: center;
}

.project_container {
  padding-top: 2.625rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 23px;
}

.project_img_text {
  text-align: left;
  display: flex;
  padding-bottom: 1.5rem;
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  justify-content: center;
}

.project_img {
  padding: 1.5625rem 1.5625rem 0.625rem;
}

.project_icon {
  place-self: center;
  max-inline-size: 50px;
}

.project_text {
  font-weight: var(--font-weight-bold);
  font-size: 1.125rem;
  padding-left: 0.9375rem;
  color: var(--title-color);
}

.project_description {
  font-size: 0.875rem;
  font-weight: var(--font-weight-medium);
  padding-left: 0.9375rem;
  line-height: 1.5rem;
  color: var(--text-color);
}

.project_white {
  color: var(--title-color);
}

.project_box {
  text-align: center;
}

/* Services */
.services_title {
  padding-top: 6.25rem;
  font-weight: var(--font-weight-semibold);
  font-size: 3.125rem;
  color: var(--title-color);
  justify-self: center;
}

.services_pont {
  color: var(--primary-color);
}

.services_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  padding-top: 3.125rem;
  padding-bottom: 5.3125rem;
  justify-items: center;
}

.services_services {
  background: rgba(196, 196, 196, 0.07);
  border: 1px solid rgba(196, 196, 196, 0.76);
  box-sizing: border-box;
  backdrop-filter: blur(56px);
  border-radius: 12px;
  padding: 4.0625rem 1.5625rem 3.4375rem 1.5625rem;
}

.services_div {
  text-align: center;
  justify-self: center;
}

.services_text {
  padding-top: 1.25rem;
  padding-bottom: 1.5625rem;
  font-weight: var(--font-weight-bold);
  font-size: 1.875rem;
  color: var(--title-color);
}

.services_description {
  font-weight: var(--font-weight-medium);
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-align: center;
  color: var(--text-color);
  max-width: 30ch;
}

/* Footer */
.footer {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_text {
  padding-left: 6.25rem;
  font-weight: var(--font-weight-medium);
  font-size: 1rem;
  color: var(--gray);
}

.footer_logo {
  color: var(--white);
  font-weight: var(--font-weight-semibold);
  font-size: 1.375rem;
  padding-right: 6.25rem;
}

.footer_logo-img {
  vertical-align: middle;
  width: 22px;
}

/* Scroll UP */
.scrollup {
  position: fixed;
  margin-bottom: -1.875rem;
  right: 40px;
  background-color: var(--primary-color);
  display: inline-flex;
  padding: 0.35rem;
  border-radius: 0.25rem;
  z-index: 10;
  transition: 0.4s;
}

.scrollup:hover {
  background-color: var(--scrollup-hover);
  opacity: 1;
}

.scrollup_icon {
  font-size: 1.25rem;
  color: var(--primary-color);
}

.show-scroll {
  bottom: 3rem;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 5px;
  background: var(--body-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  border-radius: 5px;
}

/* Media Queries */
@media screen and (max-width: 320px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .home {
    padding-top: 3.125rem;
  }
  .home_description,
  .home_text,
  .home_title,
  .home_icons {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
  .home_text {
    font-size: 0.75rem;
  }
  .home_title,
  .about_title,
  .project_title,
  .services_title {
    font-size: 2rem;
  }
  .home_description,
  .about_description,
  .project_text {
    font-size: 1rem;
  }
  .home_img {
    width: 150px;
  }
  .home_links,
  .about_links {
    max-width: 22px;
  }
  .home_img,
  .about_img {
    display: none;
  }
  .about_emp-logo {
    max-width: 100px;
    place-self: center;
  }
  .about_data,
  .project_container,
  .services_container {
    grid-template-columns: 1fr;
  }
  .about_emp {
    display: grid;
    padding-top: 3.125rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .about_text {
    padding-left: 0.9375rem;
  }
  .about_button {
    padding: 0.9375rem 0.9375rem;
    font-size: 0.9375rem;
  }
  .project_description {
    font-size: 0.875rem;
  }
  .project_data {
    max-width: 300px;
  }
  .project_img_text {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    padding-bottom: 1.25rem;
  }
  .project_img {
    padding: 0.9375rem 0.9375rem 0.3125rem;
  }
  .services_services {
    max-width: 300px;
  }
  .services_text {
    font-size: 1.375rem;
  }
  .services_description {
    font-size: 0.875rem;
    max-width: 300px;
  }
  .services_container {
    gap: 25px;
  }
  .services_services {
    padding: 2.8125rem 0.9375rem 2.8125rem 0.9375rem;
  }
  .footer {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }
  .footer_text {
    padding-left: 1.5625rem;
    font-size: 0.675rem;
  }
  .footer_logo {
    padding: 0rem;
    font-size: 1rem;
  }
  .footer_text {
    padding-top: 0.625rem;
  }
  .footer_logo-img {
    width: 15px;
  }
  .footer_logo_box {
    padding-right: 1.5625rem;
  }
  .scrollup {
    margin-bottom: 1.25rem;
    right: 15px;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .nav {
    height: calc(3.5rem + 1.5rem);
    column-gap: 3rem;
  }
  .nav_toggle,
  .nav_close,
  .nav_img {
    display: none;
  }
  .nav_menu {
    margin-left: auto;
  }
  .nav_list {
    flex-direction: row;
    column-gap: 3rem;
  }
  .home_container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .home_img {
    width: 190px;
  }
  .home_container {
    padding-top: 8rem;
  }
  .project_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .about_emp {
    padding-top: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .nav_logo,
  .nav_link {
    font-size: 1rem;
  }
  .nav_logo-img {
    width: 16px;
  }
  .change-theme {
    max-width: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .home_container {
    column-gap: 1rem;
  }
  .home_img {
    width: 190px;
  }
  .home_description {
    padding-right: 8rem;
  }
  .about_emp,
  .about_text {
    padding-top: 3.75rem;
  }
  .about_img {
    width: 370px;
  }
  .project_data,
  .services_services {
    max-width: 350px;
  }
  .project_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
